<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>editarServlet</servlet-name>
        <servlet-class>cl.servlet.editarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarServlet</servlet-name>
        <servlet-class>cl.servlet.eliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarServlet</servlet-name>
        <servlet-class>cl.servlet.listarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresarServlet</servlet-name>
        <servlet-class>cl.servlet.ingresarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarServlet</servlet-name>
        <servlet-class>cl.servlet.modificarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editarServlet</servlet-name>
        <url-pattern>/editarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarServlet</servlet-name>
        <url-pattern>/eliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarServlet</servlet-name>
        <url-pattern>/listarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresarServlet</servlet-name>
        <url-pattern>/ingresarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarServlet</servlet-name>
        <url-pattern>/modificarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
